@font-face {
    font-family: 'Saira-Regular';
    src: local('Saira Condensed'), url(../fonts/SairaCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Saira-Bold';
  src: local('Saira Condensed'), url(../fonts/SairaCondensed-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Saira-Medium';
    src: local('Saira Condensed'), url(../fonts/SairaCondensed-Medium.ttf) format('truetype');
  }
  
body {
    margin: 0;
    background-color: var(--color-dark-mode-background);
    font-family: "Saira-Regular";
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}
    
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-hideHelpMenu  {
  background-color: var(--color-dark-mode-background);
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
}