.autoConnection {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autoConnection-message {
    text-align: center;
    color: rgba(255, 255, 255, 0.561);
    font-size: 1.5rem;
}