@import './colors.css';

.macTitleBar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-dark-mode-surface-1);
  }
  
/* .macTitleBar-leftNav {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
} */

  .macTitleBar-rightNav-logo{
    width: 24px;
    height: 24px;
  }
  
.macTitleBar-rightNav {
  position: absolute;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  align-items: center;
}