.macTitleBar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #1E1F1F;
  }
  
.macTitleBar-leftNav {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
}

.macTitleBar-rightNav>img{
    width: 24px;
    height: 24px;
  }
  
.macTitleBar-rightNav {
  position: absolute;
  right: 49%;
  display: flex;
  align-items: center;
}