.navLinkButton {
    -webkit-app-region: no-drag;
    height: 100%;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.navLinkButton svg {
    height: 16px;
    width: 16px;
    padding: 0px 16px;
}

.navLinkButton:hover {
    background-color: var(--color-dark-mode-overlight-2);
}

.navLinkButton:active {
    background-color: var(--color-dark-mode-overlight-1);
}

.navLinkButton-closeBtn:hover {
    background-color:var(--color-dark-mode-danger);
}

.navLinkButton-closeBtn:hover svg>path {
    fill: var(--color-dark-mode-white);
}

.navLinkButton-closeBtn:active {
    background-color: var(--color-foundation-danger-900);
}

.navLinkButton-closeBtn:active svg>path {
    fill: var(--color-dark-mode-white);}