.navLinkButton {
    -webkit-app-region: no-drag;
    height: 100%;
    padding: 0px 10px; 
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.navLinkButton svg {
    height: 12px;
    width: 12px;
    padding: 0px 12px;
}

.navLinkButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navLinkButton:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.navLinkButton-closeBtn:hover {
    background-color: #BE2828;
}

.navLinkButton-closeBtn:hover svg>path {
    fill: white;
}

.navLinkButton-closeBtn:active {
    background-color: #AA1414;
}

.navLinkButton-closeBtn:active svg>path {
    fill: white;
}