.titleBar-rightNav-navLink {
    -webkit-app-region: no-drag;
    height: 100%;
    padding: 0px 10px; 
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.titleBar-rightNav-navLink:hover {
background-color: rgb(100, 100, 100);
color: rgb(47, 47, 47);
}

.close:hover {
background-color: rgb(112, 27, 27);
}