.setConnection {
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 420px;
    height: 428px;
    border-radius: 16px;
    position: absolute; 
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}   

.setConnection-message {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.setConnection-header {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setConnection-header-logo {
    width: 96px;
    height: 96px;
}

.setConnection-header svg>path{
    fill: var(--color-dark-mode-on-background-1);
}

.setConnection-tryAutoConnection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.setConnection-tryAutoConnection-insertIP {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--color-dark-mode-on-background-1)
}

.setConnection-tryAutoConnection-insertIP-link {
    cursor: pointer;
    color: var(--color-foundation-primary-500);
    font-family: 'Saira-Medium';
}

.setConnection-tryAutoConnection-insertIP-link:hover {
    color: var(--color-foundation-primary-600);
}

.setConnection-tryAutoConnection-insertIP-link:active {
    color: var(--color-foundation-primary-700);
}