.standardButton {
    font-family: 'Saira Condensed';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 12px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #0078BE;
    border-radius: 8px;
    width: fit-content;
    border: none;
    height: 48px;
    white-space: nowrap;
}

.standardButton-icon {
    padding-right: 12px;
}