@import './colors.css';

.titleBar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-dark-mode-surface-1);
  }
  
.titleBar-leftNav {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 16px;
  gap: 10px;
}

.titleBar-leftNav-logo{
    width: 16px;
    height: 16px;
  }
  
.titleBar-rightNav {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
}