.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-logo{
    margin: 0px;
    padding: 0px;
}

.title-text {
    color: rgba(255, 255, 255, 0.561);
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 15px;
}