.titleBar {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: #1E1F1F;
  }
  
.titleBar-leftNav {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
}

.titleBar-leftNav>img{
    width: 24px;
    height: 24px;
  }
  
.titleBar-rightNav {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
}