.waitingForConnection {
    user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;;
    position: absolute;
    top:0;
    bottom: 0;
}

.waitingForConnection-nameLogo {
    width: 256px;
}
